.landingMeniu {
  height: 100vh;
  width: 100vw;
  background: url("../../../img/dinner.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingMeniu__card {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 2rem;
}

@media only screen and (min-width: 600px) {
  .landingMeniu {
    position: relative;
  }

  .landingMeniu__card {
    width: 40%;
    height: 40%;
  }

  .landingMeniu__card--right {
    position: absolute;
    top: 10%;
    right: 20%;
  }
}
