.landing__banner {
  height: 100vh;
  width: 100vw;
  background: url("../../img/landing.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__title {
  color: #e69430;
}

.landing__title--type {
  text-align: center;
  font-size: 3rem;
}

.landing__title--name {
  text-align: center;
  font-size: 4rem;
}

.landing__separator {
  text-align: center;
  font-size: 3rem;
  color: #e69430;
  background: rgb(50, 40, 29);
  padding: 1rem;
}

.underline {
  height: 0.2rem;
  width: 20%;
  margin: auto;
  background-color: #e69430;
}
